{
  "openapi": "3.1.0",
  "info": {
    "title": "APIEngine — Your Personal API Spec",
    "description": "Auto-generated OpenAPI 3.1 specification for your APIEngine account. Covers all 19 standard CRM objects, your custom objects, JSON DB, authentication, and quota/plan endpoints. Your api_namespace: 58693b18-a130-4c58-bc83-94968e507a44.",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://api.theapiengine.com",
      "description": "APIEngine server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    },
    {
      "SessionAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "JWT-based authentication for APIEngine developer accounts.",
      "x-codegen-hints": {
        "auth_modes": [
          "none — these endpoints issue or verify tokens"
        ],
        "plan_minimum": "Free",
        "audience": "APIEngine developers (your account at theapiengine.com). NOT for end-users of apps built on APIEngine — end-user auth is at /api/v1/sdk/auth/ and uses a different token type (AppUser JWT).",
        "typical_flow": "POST /signup/ → (optional) verify-email → POST /token/ → use 'Authorization: Bearer <access>' on subsequent calls. Refresh via POST /token/refresh/ before access token expires."
      }
    },
    {
      "name": "User Profile",
      "description": "Read and update the authenticated developer's profile.",
      "x-codegen-hints": {
        "auth_modes": [
          "BearerAuth"
        ],
        "plan_minimum": "Free",
        "audience": "APIEngine developers only.",
        "key_field_note": "api_namespace in GET /me/ response scopes all /api/v1/custom/ and JSON DB paths — cache it on app load."
      }
    },
    {
      "name": "OAuth",
      "description": "Browser-based OAuth flows (Google). Not callable from API clients.",
      "x-codegen-hints": {
        "auth_modes": [
          "browser redirect"
        ],
        "plan_minimum": "Free",
        "note": "x-redirect-only: true on all operations — open in browser window, not fetch/XHR."
      }
    },
    {
      "name": "Usage & Plans",
      "description": "Subscription plans, quota counters, and feature-flag lookup.",
      "x-codegen-hints": {
        "auth_modes": [
          "none for GET /plans/",
          "BearerAuth for others"
        ],
        "plan_minimum": "Free",
        "typical_flow": "GET /api/v1/logs/plans/ → display pricing page → POST /api/v1/logs/subscribe/ with plan_uuid → GET /accounts/v1/api/auth/usage/ to hydrate feature flags.",
        "gating_pattern": "Check plan_flags['<flag>'] from GET /usage/ before rendering features. All 403 responses from plan-gated endpoints have shape {detail: '<message>'}."
      }
    },
    {
      "name": "Standard Objects — Bulk",
      "description": "Cross-object bulk delete and bulk update for standard CRM records.",
      "x-codegen-hints": {
        "auth_modes": [
          "BearerAuth"
        ],
        "plan_minimum": "Any paid plan with allow_delete/allow_update=true",
        "note": "Both endpoints accept up to 100 UUIDs per call. object_type must be one of the 19 standard CRM slugs. FK and auto-managed fields are blocked in bulk update."
      }
    },
    {
      "name": "Standard Object Fields",
      "description": "Tenant-scoped custom field schema definitions for standard CRM objects.",
      "x-codegen-hints": {
        "auth_modes": [
          "BearerAuth"
        ],
        "plan_minimum": "Any plan (quota: max_custom_fields_per_object)",
        "soft_delete_note": "DELETE is non-destructive — sets archived_at and a 30-day purge window. Use POST /{uuid}/restore/ to undo within the window.",
        "data_storage_note": "Field values live in custom_data JSONField on each CRM record, keyed by field_name."
      }
    },
    {
      "name": "API Logs",
      "description": "Read-only access to ApiRequestLog entries — one row per authenticated API call. Use to power an API logs dashboard or to debug client integrations.",
      "x-codegen-hints": {
        "auth_modes": [
          "BearerAuth"
        ],
        "plan_minimum": "Free",
        "separate_surfaces": "Simulator traffic (/api/v1/simulator/ and /sim/) is NOT logged here. That traffic appears in a separate SimulatorRequestLog surface (to be documented in Phase 4). Production API traffic, custom-object operations, JSON DB operations, and all other authenticated calls ARE logged here.",
        "data_quality": "latency_ms may be null on rows created before the Phase 3 middleware fix. ip_address reflects REMOTE_ADDR (proxy IP under load-balancer). user is null for unauthenticated requests."
      }
    },
    {
      "name": "Analytics",
      "description": "Aggregated statistics derived from ApiRequestLog. All endpoints respect plan.analytics_retention_days and cache responses.",
      "x-codegen-hints": {
        "auth_modes": [
          "BearerAuth"
        ],
        "plan_minimum": "Free (retention window varies: Free=7d, Starter=30d, Pro=90d, Enterprise=365d)",
        "caching_note": "Responses are cached per user+days. Pass ?force=1 to bypass cache. Don't compute analytics from /api/v1/logs/ — use these endpoints instead."
      }
    },
    {
      "name": "Webhooks",
      "description": "Webhook configuration, delivery logs, test firing, and internal automations. All operations require plan.can_use_webhooks=true.",
      "x-codegen-hints": {
        "auth_modes": [
          "BearerAuth"
        ],
        "plan_minimum": "Paid (can_use_webhooks=true)",
        "event_types": [
          "record.created",
          "record.updated",
          "record.deleted"
        ],
        "delivery_note": "Webhooks fire on record-level events across standard objects, custom objects, and JSON DB. Use the events field on WebhookConfig to subscribe to specific event types. Retry behavior gated by plan.webhook_retry_enabled.",
        "signing_status": "raw_secret_header"
      }
    },
    {
      "name": "SDK Auth",
      "description": "Authentication flows for end-users of apps built on APIEngine. Different from developer auth (`/accounts/v1/api/auth/*`).\n\nEvery request must include `X-API-Key: <your_tenant_api_key>` (from Developer Settings → SDK tab). This identifies *which APIEngine project* the end-user belongs to. End-users are isolated by tenant — alice@example.com signing up to your hackathon site is a separate AppUser from alice@example.com signing up to a different APIEngine customer's app.\n\nAfter login, all subsequent requests must include both `X-API-Key` (to identify the tenant) and `Authorization: Bearer <appuser_jwt>` (to identify the end-user within that tenant).\n\nEmails (verification code, welcome, password reset) are sent via APIEngine's SMTP infrastructure but branded with your tenant's display name (set in Developer Settings → from_name).",
      "x-codegen-hints": {
        "auth_modes": [
          "ApiKeyAuth (always)",
          "AppUserBearerAuth (after login, for /me and /me PATCH)"
        ],
        "plan_minimum": "Free — no plan gate on SDK auth endpoints",
        "audience": "End-users of apps built on APIEngine. NOT for APIEngine developers themselves — those use /accounts/v1/api/auth/*. If you are scaffolding an app that has its own user base (e.g. a SaaS, marketplace, or platform), these are the endpoints to use for that user base.",
        "tenant_isolation": "AppUsers are scoped to a tenant. The X-API-Key header determines which tenant's user base you are operating on. Two AppUsers with the same email but different tenants are separate identities. unique_together constraint: (tenant, email).",
        "token_distinction": "AppUser JWT is NOT interchangeable with developer JWT. Do not use a developer JWT on /sdk/auth/me/ — it will fail (wrong token type claim). Do not use an AppUser JWT on /accounts/v1/api/auth/me/ — it will also fail. The type claim in the JWT payload distinguishes them: 'app_access' vs simplejwt default.",
        "typical_signup_flow": "1. POST /signup/ → user created, 6-digit verification code emailed (template: sdk_verify_email.html). 2. User enters code in your UI. 3. POST /verify-code/ with {email, code} → returns access + refresh tokens + user. 4. Use access token as Bearer on subsequent calls. 5. GET /verify-email/{token}/ (legacy) — browser redirect link in same email, also verifies and redirects to {FRONTEND_URL}/login.",
        "typical_forgot_flow": "1. POST /forgot-password/ → email sent to user (template: sdk_password_reset.html). 2. Email contains link: {FRONTEND_URL}/reset-password?token={reset_token}. 3. Frontend extracts token from URL query param. 4. POST /reset-password/ with {token, password} → password updated. 5. User calls POST /login/ to get new tokens.",
        "token_lifetime_note": "Access token TTL: 15 minutes. Refresh token TTL: 7 days. POST /token/refresh/ returns only a new access token — the refresh token is NOT rotated. Store refresh token in secure storage (httpOnly cookie or secure native storage).",
        "no_oauth_yet": "OAuth providers (Google, GitHub, etc.) for SDK Auth are not yet implemented. Only email + password. Roadmapped for Phase 4b.",
        "email_branding": "Emails use tenant.display_from_name as the sender display name. Set from_name via PATCH /api/v1/developer/settings/ to brand emails sent to your users."
      }
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Developer JWT access token. Obtain via POST /accounts/v1/token/. Represents an APIEngine developer account. NOT interchangeable with AppUserBearerAuth."
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Tenant API key from Developer Settings → SDK tab. On SDK Auth endpoints this identifies which APIEngine project (tenant) the end-user belongs to — not the developer themselves."
      },
      "SessionAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "sessionid",
        "description": "Django session cookie (browser-based access)."
      },
      "AppUserBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "AppUser JWT obtained from POST /api/v1/sdk/auth/login/ or POST /api/v1/sdk/auth/verify-code/. Scoped to a single tenant and represents an end-user of an app built on APIEngine — NOT an APIEngine developer. Uses the same signing key as BearerAuth but carries a different claim (type: 'app_access') that rejects developer tokens and vice-versa. Access TTL: 15 minutes. Refresh TTL: 7 days."
      }
    },
    "schemas": {
      "Error401": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "example": "Authentication credentials were not provided."
          }
        },
        "x-codegen-hints": {
          "display_label": "Unauthenticated error"
        }
      },
      "Error403": {
        "type": "object",
        "description": "Permission denied. Common messages: 'No active subscription.', 'API call limit reached for your subscription plan.', 'Record limit reached for your subscription plan.', 'You do not have permission to perform this action.'",
        "properties": {
          "detail": {
            "type": "string",
            "example": "API call limit reached for your subscription plan."
          }
        },
        "x-codegen-hints": {
          "display_label": "Permission denied error"
        }
      },
      "Error429": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "example": "Request was throttled. Expected available in 1 second."
          }
        },
        "x-codegen-hints": {
          "display_label": "Rate limit error"
        }
      },
      "TokenObtainRequest": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        },
        "x-codegen-hints": {
          "display_label": "Login credentials"
        }
      },
      "TokenPair": {
        "type": "object",
        "properties": {
          "access": {
            "type": "string",
            "description": "Short-lived JWT. Default expiry: 5 minutes (SIMPLE_JWT.ACCESS_TOKEN_LIFETIME)."
          },
          "refresh": {
            "type": "string",
            "description": "Long-lived JWT. Use to obtain a new access token before expiry."
          }
        },
        "x-codegen-hints": {
          "display_label": "JWT token pair",
          "call_sequence_note": "Store refresh token in secure storage. Call POST /token/refresh/ before access token expires."
        }
      },
      "SignupRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8
          },
          "username": {
            "type": "string",
            "description": "Optional. Auto-derived from email local-part if omitted (sanitised to [a-z0-9_], max 28 chars)."
          }
        },
        "x-codegen-hints": {
          "display_label": "Signup request"
        }
      },
      "SignupResponse": {
        "type": "object",
        "properties": {
          "access": {
            "type": "string"
          },
          "refresh": {
            "type": "string"
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "UserProfile UUID (not Django User.pk)."
              },
              "username": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "is_staff": {
                "type": "boolean"
              },
              "api_namespace": {
                "type": "string",
                "format": "uuid",
                "description": "Embed in all /api/v1/custom/ and JSON DB paths."
              }
            }
          }
        },
        "x-codegen-hints": {
          "display_label": "Auth response (signup/login)",
          "fk_fields": {
            "user.api_namespace": "Use this UUID in all /api/v1/custom/{namespace}/ paths and JSON DB record URLs."
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "is_staff": {
            "type": "boolean"
          },
          "date_joined": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "email_verified": {
            "type": "boolean"
          },
          "avatar_url": {
            "type": "string"
          },
          "bio": {
            "type": "string"
          },
          "birth_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ]
          },
          "phone_number": {
            "type": "string"
          },
          "timezone_pref": {
            "type": "string"
          },
          "api_namespace": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          }
        },
        "x-codegen-hints": {
          "display_label": "Developer user profile",
          "top_level_entity": true,
          "fk_fields": {
            "api_namespace": "UUID that scopes all /api/v1/custom/ and JSON DB paths. Read-only."
          }
        }
      },
      "UserProfilePatch": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Changing email triggers a new verification email."
          },
          "bio": {
            "type": "string"
          },
          "birth_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ]
          },
          "phone_number": {
            "type": "string"
          },
          "avatar_url": {
            "type": "string"
          },
          "timezone_pref": {
            "type": "string"
          }
        },
        "x-codegen-hints": {
          "display_label": "Profile update body"
        }
      },
      "PlanSummary": {
        "type": "object",
        "description": "Available subscription plan. All fields come from Plan model via PlanSerializer(fields='__all__').",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "price": {
            "type": "string",
            "format": "decimal",
            "description": "Legacy USD display price. Do not use for billing — see price_inr_paise."
          },
          "price_inr_paise": {
            "type": "integer",
            "description": "Canonical billing price: Indian Rupees × 100 (paise)."
          },
          "monthly_price": {
            "anyOf": [
              {
                "type": "string",
                "format": "decimal"
              },
              {
                "type": "null"
              }
            ]
          },
          "annual_price": {
            "anyOf": [
              {
                "type": "string",
                "format": "decimal"
              },
              {
                "type": "null"
              }
            ]
          },
          "api_calls_per_month": {
            "type": "integer"
          },
          "api_calls_per_day": {
            "type": "integer"
          },
          "max_records": {
            "type": "integer"
          },
          "max_custom_objects": {
            "type": "integer"
          },
          "max_json_collections": {
            "type": "integer"
          },
          "max_json_records": {
            "type": "integer"
          },
          "storage_limit_mb": {
            "type": "integer"
          },
          "team_member_limit": {
            "type": "integer"
          },
          "allow_email_api": {
            "type": "boolean"
          },
          "allow_pdf_api": {
            "type": "boolean"
          },
          "can_use_webhooks": {
            "type": "boolean"
          },
          "can_use_simulator": {
            "type": "boolean"
          },
          "can_use_json_database": {
            "type": "boolean"
          },
          "allow_file_storage": {
            "type": "boolean"
          },
          "allow_sms_api": {
            "type": "boolean"
          },
          "allow_team_members": {
            "type": "boolean"
          },
          "allow_update": {
            "type": "boolean"
          },
          "allow_delete": {
            "type": "boolean"
          },
          "burst_rate_per_second": {
            "type": "integer",
            "description": "Max API calls/second via PlanBurstThrottle."
          },
          "highlight_plan": {
            "type": "boolean"
          },
          "badge_text": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "cta_text": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "features_list": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sort_order": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "is_free": {
            "type": "boolean"
          }
        },
        "x-codegen-hints": {
          "display_label": "Subscription plan",
          "currency_note": "price_inr_paise is the canonical billing field (INR paise = rupees × 100). price is a legacy USD display string — do not use for billing logic.",
          "feature_flag_fields": [
            "can_use_simulator",
            "can_use_webhooks",
            "can_use_json_database",
            "allow_email_api",
            "allow_pdf_api",
            "allow_file_storage",
            "allow_sms_api",
            "allow_team_members"
          ],
          "quota_fields": [
            "api_calls_per_month",
            "api_calls_per_day",
            "max_records",
            "max_custom_objects",
            "max_json_collections",
            "max_json_records",
            "storage_limit_mb",
            "team_member_limit"
          ],
          "plan_gate_notes": "allow_update=false → PATCH on CRM records returns 403. allow_delete=false → DELETE on CRM records returns 403. burst_rate_per_second controls PlanBurstThrottle; 0 = unlimited."
        }
      },
      "SubscriptionDetail": {
        "type": "object",
        "description": "Active subscription with inline plan summary and current-month usage counters.",
        "properties": {
          "plan": {
            "anyOf": [
              {
                "type": "object",
                "description": "Subset of PlanSummary fields included in subscription response.",
                "properties": {
                  "uuid": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  },
                  "price": {
                    "type": "string"
                  },
                  "price_inr_paise": {
                    "type": "integer"
                  },
                  "api_calls_per_month": {
                    "type": "integer"
                  },
                  "max_records": {
                    "type": "integer"
                  },
                  "max_custom_objects": {
                    "type": "integer"
                  },
                  "allow_email_api": {
                    "type": "boolean"
                  },
                  "allow_pdf_api": {
                    "type": "boolean"
                  }
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "null when user has no subscription (Free tier)."
          },
          "status": {
            "type": "string",
            "description": "e.g. 'active', 'expired'."
          },
          "message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Present when plan is null."
          },
          "started_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "auto_renew": {
            "type": "boolean"
          },
          "in_grace_period": {
            "type": "boolean",
            "description": "true if subscription expired but within 7-day grace window."
          },
          "grace_period_ends": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "usage": {
            "type": "object",
            "properties": {
              "api_calls_used": {
                "type": "integer"
              },
              "api_calls_limit": {
                "type": "integer"
              },
              "records_used": {
                "type": "integer"
              },
              "records_limit": {
                "type": "integer"
              }
            }
          }
        },
        "x-codegen-hints": {
          "display_label": "Subscription + usage detail",
          "canonical_usage": "Use plan.api_calls_per_month and usage.api_calls_used to render a quota progress bar. Gate feature UI on plan.can_use_* flags."
        }
      },
      "UsageResponse": {
        "type": "object",
        "description": "Current-month counters + plan quota limits + all feature flags. Returned by GET /accounts/v1/api/auth/usage/. All plan_* quota fields are null when user has no active subscription.",
        "properties": {
          "api_calls": {
            "type": "integer",
            "description": "API calls made this month."
          },
          "records_created": {
            "type": "integer",
            "description": "Records created this month."
          },
          "plan_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "plan_slug": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "billing_cycle": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "api_calls_per_month": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "api_calls_per_day": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "max_records": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "max_custom_objects": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "max_json_collections": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "max_json_records": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "json_storage_mb": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "storage_limit_mb": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "team_member_limit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "plan_flags": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "All plan feature flags as a flat {flag_name: bool} dict. Keys include: can_use_simulator, can_use_webhooks, can_use_json_database, allow_email_api, allow_pdf_api, allow_file_storage, allow_sms_api, allow_team_members, allow_update, allow_delete, and others."
          }
        },
        "x-codegen-hints": {
          "display_label": "Usage + quota response",
          "canonical_usage": "Gate every feature flag in your app against plan_flags['<flag_name>']. Use api_calls / api_calls_per_month for a quota meter.",
          "filter_fields": [],
          "sort_fields": []
        }
      },
      "AccountUser": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "first_name": {
            "type": "string"
          },
          "middle_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_name": {
            "type": "string"
          },
          "is_active": {
            "type": "string",
            "enum": [
              "YES",
              "NO"
            ],
            "x-enum-labels": {
              "YES": "Yes",
              "NO": "No"
            }
          },
          "user_address": {
            "type": [
              "string",
              "null"
            ]
          },
          "user_creation_date": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "user_email_address": {
            "type": "string",
            "format": "email"
          },
          "user_phone_extension": {
            "type": "string",
            "enum": [
              "+1",
              "+44",
              "+91",
              "+61",
              "+81",
              "+49",
              "+33",
              "+39",
              "+34",
              "+86",
              "+971",
              "+65",
              "+7",
              "+55",
              "+27",
              "+82",
              "+31",
              "+46",
              "+41",
              "+64"
            ],
            "x-enum-labels": {
              "+1": "United States / Canada (+1)",
              "+44": "United Kingdom (+44)",
              "+91": "India (+91)",
              "+61": "Australia (+61)",
              "+81": "Japan (+81)",
              "+49": "Germany (+49)",
              "+33": "France (+33)",
              "+39": "Italy (+39)",
              "+34": "Spain (+34)",
              "+86": "China (+86)",
              "+971": "United Arab Emirates (+971)",
              "+65": "Singapore (+65)",
              "+7": "Russia (+7)",
              "+55": "Brazil (+55)",
              "+27": "South Africa (+27)",
              "+82": "South Korea (+82)",
              "+31": "Netherlands (+31)",
              "+46": "Sweden (+46)",
              "+41": "Switzerland (+41)",
              "+64": "New Zealand (+64)"
            }
          },
          "user_phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "user_username": {
            "type": [
              "string",
              "null"
            ]
          },
          "custom_data": {
            "type": "object",
            "additionalProperties": true,
            "x-extensible-bag": true,
            "description": "Schema-free JSON bag for user-defined fields. Filter on sub-keys via ?filter[custom.field_name]=value."
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "readOnly": true
          },
          "created_by_id": {
            "type": "integer",
            "readOnly": true
          }
        },
        "required": [
          "first_name",
          "last_name",
          "user_email_address"
        ],
        "x-codegen-hints": {
          "filter_fields": [
            "is_active",
            "user_phone_extension"
          ],
          "sort_fields": [
            "user_creation_date",
            "last_name",
            "user_username"
          ]
        }
      },
      "AccountUserDetail": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "first_name": {
            "type": "string"
          },
          "middle_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_name": {
            "type": "string"
          },
          "is_active": {
            "type": "string",
            "enum": [
              "YES",
              "NO"
            ],
            "x-enum-labels": {
              "YES": "Yes",
              "NO": "No"
            }
          },
          "user_address": {
            "type": [
              "string",
              "null"
            ]
          },
          "user_creation_date": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "user_email_address": {
            "type": "string",
            "format": "email"
          },
          "user_phone_extension": {
            "type": "string",
            "enum": [
              "+1",
              "+44",
              "+91",
              "+61",
              "+81",
              "+49",
              "+33",
              "+39",
              "+34",
              "+86",
              "+971",
              "+65",
              "+7",
              "+55",
              "+27",
              "+82",
              "+31",
              "+46",
              "+41",
              "+64"
            ],
            "x-enum-labels": {
              "+1": "United States / Canada (+1)",
              "+44": "United Kingdom (+44)",
              "+91": "India (+91)",
              "+61": "Australia (+61)",
              "+81": "Japan (+81)",
              "+49": "Germany (+49)",
              "+33": "France (+33)",
              "+39": "Italy (+39)",
              "+34": "Spain (+34)",
              "+86": "China (+86)",
              "+971": "United Arab Emirates (+971)",
              "+65": "Singapore (+65)",
              "+7": "Russia (+7)",
              "+55": "Brazil (+55)",
              "+27": "South Africa (+27)",
              "+82": "South Korea (+82)",
              "+31": "Netherlands (+31)",
              "+46": "Sweden (+46)",
              "+41": "Switzerland (+41)",
              "+64": "New Zealand (+64)"
            }
          },
          "user_phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "user_username": {
            "type": [
              "string",
              "null"
            ]
          },
          "custom_data": {
            "type": "object",
            "additionalProperties": true,
            "x-extensible-bag": true,
            "description": "Schema-free JSON bag for user-defined fields. Filter on sub-keys via ?filter[custom.field_name]=value."
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "readOnly": true
          },
          "created_by_id": {
            "type": "integer",
            "readOnly": true
          }
        },
        "required": [
          "first_name",
          "last_name",
          "user_email_address"
        ]
      },
      "AccountUserCreate": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "first_name": {
            "type": "string"
          },
          "middle_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_name": {
            "type": "string"
          },
          "is_active": {
            "type": "string",
            "enum": [
              "YES",
              "NO"
            ],
            "x-enum-labels": {
              "YES": "Yes",
              "NO": "No"
            }
          },
          "user_address": {
            "type": [
              "string",
              "null"
            ]
          },
          "user_creation_date": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "user_email_address": {
            "type": "string",
            "format": "email"
          },
          "user_phone_extension": {
            "type": "string",
            "enum": [
              "+1",
              "+44",
              "+91",
              "+61",
              "+81",
              "+49",
              "+33",
              "+39",
              "+34",
              "+86",
              "+971",
              "+65",
              "+7",
              "+55",
              "+27",
              "+82",
              "+31",
              "+46",
              "+41",
              "+64"
            ],
            "x-enum-labels": {
              "+1": "United States / Canada (+1)",
              "+44": "United Kingdom (+44)",
              "+91": "India (+91)",
              "+61": "Australia (+61)",
              "+81": "Japan (+81)",
              "+49": "Germany (+49)",
              "+33": "France (+33)",
              "+39": "Italy (+39)",
              "+34": "Spain (+34)",
              "+86": "China (+86)",
              "+971": "United Arab Emirates (+971)",
              "+65": "Singapore (+65)",
              "+7": "Russia (+7)",
              "+55": "Brazil (+55)",
              "+27": "South Africa (+27)",
              "+82": "South Korea (+82)",
              "+31": "Netherlands (+31)",
              "+46": "Sweden (+46)",
              "+41": "Switzerland (+41)",
              "+64": "New Zealand (+64)"
            }
          },
          "user_phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "user_username": {
            "type": [
              "string",
              "null"
            ]
          },
          "custom_data": {
            "type": "object",
            "additionalProperties": true,
            "x-extensible-bag": true,
            "description": "Schema-free JSON bag for user-defined fields. Filter on sub-keys via ?filter[custom.field_name]=value."
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "readOnly": true
          },
          "created_by_id": {
            "type": "integer",
            "readOnly": true
          }
        },
        "required": [
          "first_name",
          "last_name",
          "user_email_address"
        ]
      },
      "PaginatedAccountUserList": {
        "type": "object",
        "required": [
          "count",
          "next",
          "previous",
          "results"
        ],
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          },
          "previous": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountUser"
            }
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "account_name": {
            "type": "string"
          },
          "account_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "account_email_address": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "account_industry": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "technology",
              "information_technology_services",
              "software",
              "hardware",
              "telecommunications",
              "financial_services",
              "banking",
              "insurance",
              "investment_management",
              "healthcare",
              "pharmaceuticals",
              "biotechnology",
              "medical_devices",
              "retail",
              "ecommerce",
              "consumer_goods",
              "manufacturing",
              "automotive",
              "aerospace_defense",
              "energy",
              "oil_gas",
              "renewable_energy",
              "utilities",
              "real_estate",
              "construction",
              "transportation_logistics",
              "hospitality",
              "travel_tourism",
              "media_entertainment",
              "education",
              "government",
              "nonprofit",
              "agriculture",
              "food_beverage",
              "professional_services",
              "legal_services",
              "consulting"
            ],
            "x-enum-labels": {
              "technology": "Technology",
              "information_technology_services": "IT Services",
              "software": "Software",
              "hardware": "Hardware",
              "telecommunications": "Telecommunications",
              "financial_services": "Financial Services",
              "banking": "Banking",
              "insurance": "Insurance",
              "investment_management": "Investment Management",
              "healthcare": "Healthcare",
              "pharmaceuticals": "Pharmaceuticals",
              "biotechnology": "Biotechnology",
              "medical_devices": "Medical Devices",
              "retail": "Retail",
              "ecommerce": "E-commerce",
              "consumer_goods": "Consumer Goods",
              "manufacturing": "Manufacturing",
              "automotive": "Automotive",
              "aerospace_defense": "Aerospace & Defense",
              "energy": "Energy",
              "oil_gas": "Oil & Gas",
              "renewable_energy": "Renewable Energy",
              "utilities": "Utilities",
              "real_estate": "Real Estate",
              "construction": "Construction",
              "transportation_logistics": "Transportation & Logistics",
              "hospitality": "Hospitality",
              "travel_tourism": "Travel & Tourism",
              "media_entertainment": "Media & Entertainment",
              "education": "Education",
              "government": "Government",
              "nonprofit": "Non-Profit",
              "agriculture": "Agriculture",
              "food_beverage": "Food & Beverage",
              "professional_services": "Professional Services",
              "legal_services": "Legal Services",
              "consulting": "Consulting"
            }
          },
          "account_active": {
            "type": "string",
            "enum": [
              "YES",
              "NO"
            ],
            "x-enum-labels": {
              "YES": "Yes",
              "NO": "No"
            }
          },
          "account_created_by": {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string",
                "format": "uuid",
                "readOnly": true
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "full_name": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ],
                "readOnly": true
              },
              "user_email_address": {
                "type": "string",
                "format": "email"
              }
            },
            "readOnly": true
          },
          "account_creation_date": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "readOnly": true
          }
        },
        "required": [
          "account_name"
        ],
        "x-codegen-hints": {
          "filter_fields": [
            "account_active",
            "account_year_started",
            "account_industry"
          ],
          "sort_fields": [
            "account_creation_date",
            "account_name",
            "account_number"
          ]
        }
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "account_created_by": {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string",
                "format": "uuid",
                "readOnly": true
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "full_name": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ],
                "readOnly": true
              },
              "user_email_address": {
                "type": "string",
                "format": "email"
              }
            },
            "readOnly": true
          },
          "account_owner": {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string",
                "format": "uuid",
                "readOnly": true
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "full_name": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ],
                "readOnly": true
              },
              "user_email_address": {
                "type": "string",
                "format": "email"
              }
            },
            "readOnly": true
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "readOnly": true
          },
          "account_active": {
            "type": "string",
            "enum": [
              "YES",
              "NO"
            ],
            "x-enum-labels": {
              "YES": "Yes",
              "NO": "No"
            }
          },
          "account_annual_revenue": {
            "type": [
              "string",
              "null"
            ],
            "format": "decimal"
          },
          "account_billing_address": {
            "type": [
              "string",
              "null"
            ]
          },
          "account_creation_date": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "account_description": {
            "type": [
              "string",
              "null"
            ]
          },
          "account_email_address": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "account_employee_count": {
            "type": [
              "integer",
              "null"
            ]
          },
          "account_industry": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "technology",
              "information_technology_services",
              "software",
              "hardware",
              "telecommunications",
              "financial_services",
              "banking",
              "insurance",
              "investment_management",
              "healthcare",
              "pharmaceuticals",
              "biotechnology",
              "medical_devices",
              "retail",
              "ecommerce",
              "consumer_goods",
              "manufacturing",
              "automotive",
              "aerospace_defense",
              "energy",
              "oil_gas",
              "renewable_energy",
              "utilities",
              "real_estate",
              "construction",
              "transportation_logistics",
              "hospitality",
              "travel_tourism",
              "media_entertainment",
              "education",
              "government",
              "nonprofit",
              "agriculture",
              "food_beverage",
              "professional_services",
              "legal_services",
              "consulting"
            ],
            "x-enum-labels": {
              "technology": "Technology",
              "information_technology_services": "IT Services",
              "software": "Software",
              "hardware": "Hardware",
              "telecommunications": "Telecommunications",
              "financial_services": "Financial Services",
              "banking": "Banking",
              "insurance": "Insurance",
              "investment_management": "Investment Management",
              "healthcare": "Healthcare",
              "pharmaceuticals": "Pharmaceuticals",
              "biotechnology": "Biotechnology",
              "medical_devices": "Medical Devices",
              "retail": "Retail",
              "ecommerce": "E-commerce",
              "consumer_goods": "Consumer Goods",
              "manufacturing": "Manufacturing",
              "automotive": "Automotive",
              "aerospace_defense": "Aerospace & Defense",
              "energy": "Energy",
              "oil_gas": "Oil & Gas",
              "renewable_energy": "Renewable Energy",
              "utilities": "Utilities",
              "real_estate": "Real Estate",
              "construction": "Construction",
              "transportation_logistics": "Transportation & Logistics",
              "hospitality": "Hospitality",
              "travel_tourism": "Travel & Tourism",
              "media_entertainment": "Media & Entertainment",
              "education": "Education",
              "government": "Government",
              "nonprofit": "Non-Profit",
              "agriculture": "Agriculture",
              "food_beverage": "Food & Beverage",
              "professional_services": "Professional Services",
              "legal_services": "Legal Services",
              "consulting": "Consulting"
            }
          },
          "account_name": {
            "type": "string"
          },
          "account_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "account_phone_extension": {
            "type": "string",
            "enum": [
              "+1",
              "+44",
              "+91",
              "+61",
              "+81",
              "+49",
              "+33",
              "+39",
              "+34",
              "+86",
              "+971",
              "+65",
              "+7",
              "+55",
              "+27",
              "+82",
              "+31",
              "+46",
              "+41",
              "+64"
            ],
            "x-enum-labels": {
              "+1": "United States / Canada (+1)",
              "+44": "United Kingdom (+44)",
              "+91": "India (+91)",
              "+61": "Australia (+61)",
              "+81": "Japan (+81)",
              "+49": "Germany (+49)",
              "+33": "France (+33)",
              "+39": "Italy (+39)",
              "+34": "Spain (+34)",
              "+86": "China (+86)",
              "+971": "United Arab Emirates (+971)",
              "+65": "Singapore (+65)",
              "+7": "Russia (+7)",
              "+55": "Brazil (+55)",
              "+27": "South Africa (+27)",
              "+82": "South Korea (+82)",
              "+31": "Netherlands (+31)",
              "+46": "Sweden (+46)",
              "+41": "Switzerland (+41)",
              "+64": "New Zealand (+64)"
            }
          },
          "account_phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "account_shipping_address": {
            "type": [
              "string",
              "null"
            ]
          },
          "account_source": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "WEB",
              "PHONE ENQUIRY",
              "PARTNER REFERRAL",
              "PURCHASED LIST",
              "EXTERNAL REFERRAL",
              "PARTNER",
              "PUBLIC RELATIONS",
              "WORD OF MOUTH"
            ],
            "x-enum-labels": {
              "WEB": "Web",
              "PHONE ENQUIRY": "Phone Enquiry",
              "PARTNER REFERRAL": "Partner Referral",
              "PURCHASED LIST": "Purchased List",
              "EXTERNAL REFERRAL": "External Referral",
              "PARTNER": "Partner",
              "PUBLIC RELATIONS": "Public Relations",
              "WORD OF MOUTH": "Word of Mouth"
            }
          },
          "account_status": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "ACTIVE",
              "In ACTIVE",
              "REGISTRATION PENDING",
              "PAYMENT PROCESSING"
            ],
            "x-enum-labels": {
              "ACTIVE": "Active",
              "In ACTIVE": "In-Active",
              "REGISTRATION PENDING": "Registration Pending",
              "PAYMENT PROCESSING": "Payment Processing"
            }
          },
          "account_website": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "account_year_started": {
            "type": [
              "integer",
              "null"
            ]
          },
          "custom_data": {
            "type": "object",
            "additionalProperties": true,
            "x-extensible-bag": true,
            "description": "Schema-free JSON bag for user-defined fields. Filter on sub-keys via ?filter[custom.field_name]=value."
          }
        },
        "required": [
          "account_name"
        ]
      },
      "AccountCreate": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "account_active": {
            "type": "string",
            "enum": [
              "YES",
              "NO"
            ],
            "x-enum-labels": {
              "YES": "Yes",
              "NO": "No"
            }
          },
          "account_annual_revenue": {
            "type": [
              "string",
              "null"
            ],
            "format": "decimal"
          },
          "account_billing_address": {
            "type": [
              "string",
              "null"
            ]
          },
          "account_created_by": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "account_creation_date": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "account_description": {
            "type": [
              "string",
              "null"
            ]
          },
          "account_email_address": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "account_employee_count": {
            "type": [
              "integer",
              "null"
            ]
          },
          "account_industry": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "technology",
              "information_technology_services",
              "software",
              "hardware",
              "telecommunications",
              "financial_services",
              "banking",
              "insurance",
              "investment_management",
              "healthcare",
              "pharmaceuticals",
              "biotechnology",
              "medical_devices",
              "retail",
              "ecommerce",
              "consumer_goods",
              "manufacturing",
              "automotive",
              "aerospace_defense",
              "energy",
              "oil_gas",
              "renewable_energy",
              "utilities",
              "real_estate",
              "construction",
              "transportation_logistics",
              "hospitality",
              "travel_tourism",
              "media_entertainment",
              "education",
              "government",
              "nonprofit",
              "agriculture",
              "food_beverage",
              "professional_services",
              "legal_services",
              "consulting"
            ],
            "x-enum-labels": {
              "technology": "Technology",
              "information_technology_services": "IT Services",
              "software": "Software",
              "hardware": "Hardware",
              "telecommunications": "Telecommunications",
              "financial_services": "Financial Services",
              "banking": "Banking",
              "insurance": "Insurance",
              "investment_management": "Investment Management",
              "healthcare": "Healthcare",
              "pharmaceuticals": "Pharmaceuticals",
              "biotechnology": "Biotechnology",
              "medical_devices": "Medical Devices",
              "retail": "Retail",
              "ecommerce": "E-commerce",
              "consumer_goods": "Consumer Goods",
              "manufacturing": "Manufacturing",
              "automotive": "Automotive",
              "aerospace_defense": "Aerospace & Defense",
              "energy": "Energy",
              "oil_gas": "Oil & Gas",
              "renewable_energy": "Renewable Energy",
              "utilities": "Utilities",
              "real_estate": "Real Estate",
              "construction": "Construction",
              "transportation_logistics": "Transportation & Logistics",
              "hospitality": "Hospitality",
              "travel_tourism": "Travel & Tourism",
              "media_entertainment": "Media & Entertainment",
              "education": "Education",
              "government": "Government",
              "nonprofit": "Non-Profit",
              "agriculture": "Agriculture",
              "food_beverage": "Food & Beverage",
              "professional_services": "Professional Services",
              "legal_services": "Legal Services",
              "consulting": "Consulting"
            }
          },
          "account_name": {
            "type": "string"
          },
          "account_number": {
            "type": [
              "string",
              "null"
            ],
            "readOnly": true
          },
          "account_owner": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "account_phone_extension": {
            "type": "string",
            "enum": [
              "+1",
              "+44",
              "+91",
              "+61",
              "+81",
              "+49",
              "+33",
              "+39",
              "+34",
              "+86",
              "+971",
              "+65",
              "+7",
              "+55",
              "+27",
              "+82",
              "+31",
              "+46",
              "+41",
              "+64"
            ],
            "x-enum-labels": {
              "+1": "United States / Canada (+1)",
              "+44": "United Kingdom (+44)",
              "+91": "India (+91)",
              "+61": "Australia (+61)",
              "+81": "Japan (+81)",
              "+49": "Germany (+49)",
              "+33": "France (+33)",
              "+39": "Italy (+39)",
              "+34": "Spain (+34)",
              "+86": "China (+86)",
              "+971": "United Arab Emirates (+971)",
              "+65": "Singapore (+65)",
              "+7": "Russia (+7)",
              "+55": "Brazil (+55)",
              "+27": "South Africa (+27)",
              "+82": "South Korea (+82)",
              "+31": "Netherlands (+31)",
              "+46": "Sweden (+46)",
              "+41": "Switzerland (+41)",
              "+64": "New Zealand (+64)"
            }
          },
          "account_phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "account_shipping_address": {
            "type": [
              "string",
              "null"
            ]
          },
          "account_source": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "WEB",
              "PHONE ENQUIRY",
              "PARTNER REFERRAL",
              "PURCHASED LIST",
              "EXTERNAL REFERRAL",
              "PARTNER",
              "PUBLIC RELATIONS",
              "WORD OF MOUTH"
            ],
            "x-enum-labels": {
              "WEB": "Web",
              "PHONE ENQUIRY": "Phone Enquiry",
              "PARTNER REFERRAL": "Partner Referral",
              "PURCHASED LIST": "Purchased List",
              "EXTERNAL REFERRAL": "External Referral",
              "PARTNER": "Partner",
              "PUBLIC RELATIONS": "Public Relations",
              "WORD OF MOUTH": "Word of Mouth"
            }
          },
          "account_status": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "ACTIVE",
              "In ACTIVE",
              "REGISTRATION PENDING",
              "PAYMENT PROCESSING"
            ],
            "x-enum-labels": {
              "ACTIVE": "Active",
              "In ACTIVE": "In-Active",
              "REGISTRATION PENDING": "Registration Pending",
              "PAYMENT PROCESSING": "Payment Processing"
            }
          },
          "account_website": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "account_year_started": {
            "type": [
              "integer",
              "null"
            ]
          },
          "custom_data": {
            "type": "object",
            "additionalProperties": true,
            "x-extensible-bag": true,
            "description": "Schema-free JSON bag for user-defined fields. Filter on sub-keys via ?filter[custom.field_name]=value."
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "readOnly": true
          },
          "created_by_id": {
            "type": "integer",
            "readOnly": true
          }
        },
        "required": [
          "account_name"
        ]
      },
      "PaginatedAccountList": {
        "type": "object",
        "required": [
          "count",
          "next",
          "previous",
          "results"
        ],
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          },
          "previous": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "campaign_owner": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "campaign_parent_campaign": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "readOnly": true
          },
          "campaign_active": {
            "type": "string",
            "enum": [
              "YES",
              "NO"
            ],
            "x-enum-labels": {
              "YES": "Yes",
              "NO": "No"
            }
          },
          "campaign_name": {
            "type": "string"
          },
          "campaign_number": {
            "type": [
              "string",
              "null"
            ],
            "readOnly": true
          },
          "campaign_number_of_contacts": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_description": {
            "type": [
              "string",
              "null"
            ]
          },
          "campaign_start_date": {
            "type": "string",
            "format": "date-time"
          },
          "campaign_end_date": {
            "type": "string",
            "format": "date-time"
          },
          "campaign_expected_response": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_actual_response": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_expected_revenue": {
            "type": [
              "string",
              "null"
            ],
            "format": "decimal"
          },
          "campaign_actual_revenue": {
            "type": [
              "string",
              "null"
            ],
            "format": "decimal"
          },
          "campaign_number_of_leads": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_number_of_leads_converted": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_number_of_opportunities": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_number_of_opportunities_converted": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_status": {
            "type": "string",
            "enum": [
              "Planned",
              "In Progress",
              "Completed",
              "Aborted"
            ],
            "x-enum-labels": {
              "Planned": "PLANNED",
              "In Progress": "IN PROGRESS",
              "Completed": "COMPLETED",
              "Aborted": "ABORTED"
            }
          },
          "campaign_type": {
            "type": "string",
            "enum": [
              "Conference",
              "Webinar",
              "Trade Show",
              "Public Relations",
              "Partner",
              "Referral Program",
              "Advertisement",
              "Banner Ads",
              "Direct Mail",
              "Email",
              "Telemarketing",
              "Other"
            ],
            "x-enum-labels": {
              "Conference": "CONFERENCE",
              "Webinar": "WEBINAR",
              "Trade Show": "TRADE SHOW",
              "Public Relations": "PUBLIC RELATIONS",
              "Partner": "PARTNER",
              "Referral Program": "REFERRAL PROGRAM",
              "Advertisement": "ADVERTISEMENT",
              "Banner Ads": "BANNER ADS",
              "Direct Mail": "DIRECT MAIL",
              "Email": "EMAIL",
              "Telemarketing": "TELEMARKETING",
              "Other": "OTHER"
            }
          },
          "campaign_creation_date": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "custom_data": {
            "type": "object",
            "additionalProperties": true,
            "x-extensible-bag": true,
            "description": "Schema-free JSON bag for user-defined fields. Filter on sub-keys via ?filter[custom.field_name]=value."
          }
        },
        "required": [
          "campaign_name",
          "campaign_start_date",
          "campaign_end_date",
          "campaign_status",
          "campaign_type"
        ],
        "x-codegen-hints": {
          "filter_fields": [
            "campaign_active",
            "campaign_status",
            "campaign_type",
            "campaign_owner"
          ],
          "sort_fields": [
            "campaign_start_date",
            "campaign_end_date",
            "campaign_expected_revenue"
          ]
        }
      },
      "CampaignDetail": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "readOnly": true
          },
          "campaign_active": {
            "type": "string",
            "enum": [
              "YES",
              "NO"
            ],
            "x-enum-labels": {
              "YES": "Yes",
              "NO": "No"
            }
          },
          "campaign_name": {
            "type": "string"
          },
          "campaign_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "campaign_number_of_contacts": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_description": {
            "type": [
              "string",
              "null"
            ]
          },
          "campaign_start_date": {
            "type": "string",
            "format": "date-time"
          },
          "campaign_end_date": {
            "type": "string",
            "format": "date-time"
          },
          "campaign_expected_response": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_actual_response": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_expected_revenue": {
            "type": [
              "string",
              "null"
            ],
            "format": "decimal"
          },
          "campaign_actual_revenue": {
            "type": [
              "string",
              "null"
            ],
            "format": "decimal"
          },
          "campaign_number_of_leads": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_number_of_leads_converted": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_number_of_opportunities": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_number_of_opportunities_converted": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_status": {
            "type": "string",
            "enum": [
              "Planned",
              "In Progress",
              "Completed",
              "Aborted"
            ],
            "x-enum-labels": {
              "Planned": "PLANNED",
              "In Progress": "IN PROGRESS",
              "Completed": "COMPLETED",
              "Aborted": "ABORTED"
            }
          },
          "campaign_type": {
            "type": "string",
            "enum": [
              "Conference",
              "Webinar",
              "Trade Show",
              "Public Relations",
              "Partner",
              "Referral Program",
              "Advertisement",
              "Banner Ads",
              "Direct Mail",
              "Email",
              "Telemarketing",
              "Other"
            ],
            "x-enum-labels": {
              "Conference": "CONFERENCE",
              "Webinar": "WEBINAR",
              "Trade Show": "TRADE SHOW",
              "Public Relations": "PUBLIC RELATIONS",
              "Partner": "PARTNER",
              "Referral Program": "REFERRAL PROGRAM",
              "Advertisement": "ADVERTISEMENT",
              "Banner Ads": "BANNER ADS",
              "Direct Mail": "DIRECT MAIL",
              "Email": "EMAIL",
              "Telemarketing": "TELEMARKETING",
              "Other": "OTHER"
            }
          },
          "campaign_creation_date": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "custom_data": {
            "type": "object",
            "additionalProperties": true,
            "x-extensible-bag": true,
            "description": "Schema-free JSON bag for user-defined fields. Filter on sub-keys via ?filter[custom.field_name]=value."
          },
          "campaign_owner": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "campaign_parent_campaign": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          }
        },
        "required": [
          "campaign_name",
          "campaign_start_date",
          "campaign_end_date",
          "campaign_status",
          "campaign_type"
        ]
      },
      "CampaignCreate": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "campaign_owner": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "campaign_parent_campaign": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "readOnly": true
          },
          "campaign_active": {
            "type": "string",
            "enum": [
              "YES",
              "NO"
            ],
            "x-enum-labels": {
              "YES": "Yes",
              "NO": "No"
            }
          },
          "campaign_name": {
            "type": "string"
          },
          "campaign_number": {
            "type": [
              "string",
              "null"
            ],
            "readOnly": true
          },
          "campaign_number_of_contacts": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_description": {
            "type": [
              "string",
              "null"
            ]
          },
          "campaign_start_date": {
            "type": "string",
            "format": "date-time"
          },
          "campaign_end_date": {
            "type": "string",
            "format": "date-time"
          },
          "campaign_expected_response": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_actual_response": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_expected_revenue": {
            "type": [
              "string",
              "null"
            ],
            "format": "decimal"
          },
          "campaign_actual_revenue": {
            "type": [
              "string",
              "null"
            ],
            "format": "decimal"
          },
          "campaign_number_of_leads": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_number_of_leads_converted": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_number_of_opportunities": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_number_of_opportunities_converted": {
            "type": [
              "integer",
              "null"
            ]
          },
          "campaign_status": {
            "type": "string",
            "enum": [
              "Planned",
              "In Progress",
              "Completed",
              "Aborted"
            ],
            "x-enum-labels": {
              "Planned": "PLANNED",
              "In Progress": "IN PROGRESS",
              "Completed": "COMPLETED",
              "Aborted": "ABORTED"
            }
          },
          "campaign_type": {
            "type": "string",
            "enum": [
              "Conference",
              "Webinar",
              "Trade Show",
              "Public Relations",
              "Partner",
              "Referral Program",
              "Advertisement",
              "Banner Ads",
              "Direct Mail",
              "Email",
              "Telemarketing",
              "Other"
            ],
            "x-enum-labels": {
              "Conference": "CONFERENCE",
              "Webinar": "WEBINAR",
              "Trade Show": "TRADE SHOW",
              "Public Relations": "PUBLIC RELATIONS",
              "Partner": "PARTNER",
              "Referral Program": "REFERRAL PROGRAM",
              "Advertisement": "ADVERTISEMENT",
              "Banner Ads": "BANNER ADS",
              "Direct Mail": "DIRECT MAIL",
              "Email": "EMAIL",
              "Telemarketing": "TELEMARKETING",
              "Other": "OTHER"
            }
          },
          "campaign_creation_date": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "custom_data": {
            "type": "object",
            "additionalProperties": true,
            "x-extensible-bag": true,
            "description": "Schema-free JSON bag for user-defined fields. Filter on sub-keys via ?filter[custom.field_name]=value."
          }
        },
        "required": [
          "campaign_name",
          "campaign_start_date",
          "campaign_end_date",
          "campaign_status",
          "campaign_type"
        ]
      },
      "PaginatedCampaignList": {
        "type": "object",
        "required": [
          "count",
          "next",
          "previous",
          "results"
        ],
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          },
          "previous": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          }
        }
      },
      "CampaignMember": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "readOnly": true
          },
          "created_by_id": {
            "type": "integer",
            "readOnly": true
          },
          "status": {
            "type": "string",
            "enum": [
              "Sent",
              "Responded",
              "Converted",
              "Unsubscribed"
            ],
            "x-enum-labels": {
              "Sent": "SENT",
              "Responded": "RESPONDED",
              "Converted": "CONVERTED",
              "Unsubscribed": "UNSUBSCRIBED"
            }
          },
          "has_responded": {
            "type": "boolean"
          },
          "responded_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "creation_date": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "custom_data": {
            "type": "object",
            "additionalProperties": true,
            "x-extensible-bag": true,
            "description": "Schema-free JSON bag for user-defined fields. Filter on sub-keys via ?filter[custom.field_name]=value."
          },
          "campaign": {
            "type": "string",
            "format": "uuid"
          },
          "contact": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "lead": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          }
        },
        "required": [
          "campaign"
        ],
        "x-codegen-hints": {
          "filter_fields": [
            "status",
            "campaign",
            "has_responded"
          ],
          "sort_fields": [
            "creation_date",
            "responded_date"
          ]
        }
      },
      "CampaignMemberDetail": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "readOnly": true
          },
          "created_by_id": {
            "type": "integer",
            "readOnly": true
          },
          "status": {
            "type": "string",
            "enum": [
              "Sent",
              "Responded",
              "Converted",
              "Unsubscribed"
            ],
            "x-enum-labels": {
              "Sent": "SENT",
              "Responded": "RESPONDED",
              "Converted": "CONVERTED",
              "Unsubscribed": "UNSUBSCRIBED"
            }
          },
          "has_responded": {
            "type": "boolean"
          },
          "responded_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "creation_date": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "custom_data": {
            "type": "object",
            "additionalProperties": true,
            "x-extensible-bag": true,
            "description": "Schema-free JSON bag for user-defined fields. Filter on sub-keys via ?filter[custom.field_name]=value."
          },
          "campaign": {
            "type": "string",
            "format": "uuid"
          },
          "contact": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "lead": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          }
        },
        "required": [
          "campaign"
        ]
      },
      "CampaignMemberCreate": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "readOnly": true
          },
          "created_by_id": {
            "type": "integer",
            "readOnly": true
          },
          "status": {
            "type": "string",
            "enum": [
              "Sent",
              "Responded",
              "Converted",
              "Unsubscribed"
            ],
            "x-enum-labels": {
              "Sent": "SENT",
              "Responded": "RESPONDED",
              "Converted": "CONVERTED",
              "Unsubscribed": "UNSUBSCRIBED"
            }
          },
          "has_responded": {
            "type": "boolean"
          },
          "responded_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "creation_date": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "custom_data": {
            "type": "object",
            "additionalProperties": true,
            "x-extensible-bag": true,
            "description": "Schema-free JSON bag for user-defined fields. Filter on sub-keys via ?filter[custom.field_name]=value."
          },
          "campaign": {
            "type": "string",
            "format": "uuid"
          },
          "contact": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "lead": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          }
        },
        "required": [
          "campaign"
        ]
      },
      "PaginatedCampaignMemberList": {
        "type": "object",
        "required": [
          "count",
          "next",
          "previous",
          "results"
        ],
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          },
          "previous": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignMember"
            }
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "account": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "contact_owner": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "reports_to": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "reports_to_details": {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string",
                "format": "uuid",
                "readOnly": true
              },
              "first_name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "last_name": {
                "type": "string"
              }
            },
            "readOnly": true
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "readOnly": true
          },
          "created_by_id": {
            "type": "integer",
            "readOnly": true
          },
          "creation_source": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "Website",
              "Referral",
              "Advertisement",
              "Cold Call",
              "Email Campaign",
              "Trade Show",
              "Partner",
              "Social Media",
              "Other"
            ],
            "x-enum-labels": {
              "Website": "WEBSITE",
              "Referral": "REFERRAL",
              "Advertisement": "ADVERTISEMENT",
              "Cold Call": "COLD CALL",
              "Email Campaign": "EMAIL CAMPAIGN",
              "Trade Show": "TRADE SHOW",
              "Partner": "PARTNER",
              "Social Media": "SOCIAL MEDIA",
              "Other": "OTHER"
            }
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "contact_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "first_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "middle_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_name": {
            "type": "string"
          },
          "creation_date": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "custom_data": {
            "type": "object",
            "additionalProperties": true,
            "x-extensible-bag": true,
            "description": "Schema-free JSON bag for user-defined fields. Filter on sub-keys via ?filter[custom.field_name]=value."
          }
        },
        "required": [
          "email",
          "last_name"
        ],
        "x-codegen-hints": {
          "filter_fields": [
            "account",
            "contact_owner",
            "creation_source"
          ],
          "sort_fields": [
            "creation_date",
            "last_name"
          ]
        }
      },
      "ContactDetail": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "account": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "contact_owner": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "reports_to": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "reports_to_details": {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string",
                "format": "uuid",
                "readOnly": true
              },
              "first_name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "last_name": {
                "type": "string"
              }
            },
            "readOnly": true
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "readOnly": true
          },
          "created_by_id": {
            "type": "integer",
            "readOnly": true
          },
          "creation_source": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "Website",
              "Referral",
              "Advertisement",
              "Cold Call",
              "Email Campaign",
              "Trade Show",
              "Partner",
              "Social Media",
              "Other"
            ],
            "x-enum-labels": {
              "Website": "WEBSITE",
              "Referral": "REFERRAL",
              "Advertisement": "ADVERTISEMENT",
              "Cold Call": "COLD CALL",
              "Email Campaign": "EMAIL CAMPAIGN",
              "Trade Show": "TRADE SHOW",
              "Partner": "PARTNER",
              "Social Media": "SOCIAL MEDIA",
              "Other": "OTHER"
            }
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "contact_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "first_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "middle_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_name": {
            "type": "string"
          },
          "creation_date": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "custom_data": {
            "type": "object",
            "additionalProperties": true,
            "x-extensible-bag": true,
            "description": "Schema-free JSON bag for user-defined fields. Filter on sub-keys via ?filter[custom.field_name]=value."
          }
        },
        "required": [
          "email",
          "last_name"
        ]
      },
      "ContactCreate": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "account": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "contact_owner": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "reports_to": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "reports_to_details": {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string",
                "format": "uuid",
                "readOnly": true
              },
              "first_name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "last_name": {
                "type": "string"
              }
            },
            "readOnly": true
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "readOnly": true
          },
          "created_by_id": {
            "type": "integer",
            "readOnly": true
          },
          "creation_source": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "Website",
              "Referral",
              "Advertisement",
              "Cold Call",
              "Email Campaign",
              "Trade Show",
              "Partner",
              "Social Media",
              "Other"
            ],
            "x-enum-labels": {
              "Website": "WEBSITE",
              "Referral": "REFERRAL",
              "Advertisement": "ADVERTISEMENT",
              "Cold Call": "COLD CALL",
              "Email Campaign": "EMAIL CAMPAIGN",
              "Trade Show": "TRADE SHOW",
              "Partner": "PARTNER",
              "Social Media": "SOCIAL MEDIA",
              "Other": "OTHER"
            }
          },
[...]
